div{
    font-family: 'Quicksand', sans-serif;
}

img {
  max-width: 100%;
}
.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter, .multifilter, .sortandshuffle, .search-row {
  padding-left: 0;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.simplefilter li {
    background-color: #585858;
}
.simplefilter li.active {
    background-color: #212121;
}
.th{
    text-align: center;
    min-width: 150px;
}

.multifilter li {
    background-color: #4b9eff;
    min-width: 205px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 4px;
}

.multifilter li.active {
    background-color: #2265b4;
    min-width: 200px;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}

/* Colored divs */
.block {
  box-shadow: 0 1px 4px rgba(0,0,0,.75) inset;
  color: white;
  text-align: center;
  height: 80px;
  position: relative;
}
.block > .text {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.block.xs {
  height: 40px;
}
.block.md {
  height: 120px;
}
.block.lg {
  height: 160px;
}
.block.purple {
  background-color: purple;
}
.block.yellow {
  background-color: #dec800;
}
.block.red {
  background-color: crimson;
}
.block.green {
  background-color: lightgreen;
}
.block.blue {
  background-color: #4b9eff;
}

/* Helpers */
.push-down {
  margin-bottom: 50px;
}

.filtr-container,
.color-container-1,
.color-container-2,
.color-container-3,
.color-container-4 {
  transition: height 500ms ease-out;
}