<!DOCTYPE html>
<html lang="en">
  <head>
    <title>One page service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
    <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
       <!-- JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">
<link rel="stylesheet" type="text/css" href="https://handsontable.com/static/css/main.css">
<script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>


  </head>
  <body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="showcase__section" id="bubble">
      <div class="spacer --small"></div>
      <div id="bubbleplots">
        <div class="bubbleplot" data-num="0">
          <!-- Dropdown -->
          <div class="control-row">
            Product_name <select class="countrydata">
            </select>
          </div>
          <!-- Plottly  -->
          <div class="plot" id="plotdiv"></div>
          <!-- Datatables  -->
          <div id="hot"></div>
        </div>
      </div>
    </div>
        <!--Creat or update graph when editing or xchanging dropdown script plottly+table +dropwon -->
        <script>

        var listofproducts = function () {
            var tmp = null;
            $.ajax({
                url : "/data/",
                async: false,
                type : "GET",
                contentType: "application/json",
                success : function(data){
                   tmp =data.listofproducts;
                   console.log(tmp);
                }
            });
            return tmp;
        }();
        var all_time_series = function () {
            var tmp = null;
            $.ajax({
                url : "/data/",
                async: false,
                type : "GET",
                serverSide: true,
                contentType: "application/json",
                success : function(data){
                   tmp =data.all_time_series;
                   console.log(tmp);
                }
            });
            return tmp;
        }();
        var data_inventory = function () {
            var tmp = null;
            $.ajax({
                url : "/data/",
                async: false,
                type : "GET",
                contentType: "application/json",
                success : function(data){
                   tmp =data.data_inventory;
                   console.log(tmp);
                }
            });
            return tmp;
        }();
         // Data objects


        // plotly graph
        setBubblePlot(listofproducts[0]);
        setTablePlot(listofproducts[0]);
        function setBubblePlot(chosenCountry) {
            var all_time_series = function () {
                var tmp = null;
                $.ajax({
                    url : "/data/",
                    async: false,
                    type : "GET",
                    serverSide: true,
                    contentType: "application/json",
                    success : function(data){
                       tmp =data.all_time_series;
                       console.log(tmp);
                    }
                });
                return tmp;
            }();
            var trace1 = {
              x: all_time_series[chosenCountry][0],
              y: all_time_series[chosenCountry][1],
              mode: 'lines+markers',
              marker: {
                size: 12,
                opacity: 0.5
              }
            };

            var data = [trace1];

            var layout = {
              title: 'Inventory level for <br>'+ chosenCountry
            };

            Plotly.newPlot('plotdiv', data, layout, {showSendToCloud: true});
        };
        var innerContainer = document.querySelector('[data-num="0"'),
            plotEl = innerContainer.querySelector('.plot'),
            countrySelector = innerContainer.querySelector('.countrydata');
        function assignOptions(textArray, selector) {
          for (var i = 0; i < textArray.length;  i++) {
              var currentOption = document.createElement('option');
              currentOption.text = textArray[i];
              selector.appendChild(currentOption);
          }
        }
        console.log(listofproducts);
        assignOptions(listofproducts, countrySelector);
        function setTablePlot (chosenCountry){
            var dataObject = data_inventory[chosenCountry] ;
            var hotElement = document.querySelector('#hot');
            var hotElementContainer = hotElement.parentNode;
            var hotSettings = {
              data: dataObject,
              stretchH: 'all',
              autoWrapRow: true,
              licenseKey: 'non-commercial-and-evaluation',
              manualRowResize: true,
              manualColumnResize: true,
              rowHeaders: true,
              colHeaders: [
                'date',
                'inventory_level',
              ],
              manualRowMove: true,
              manualColumnMove: true,
              contextMenu: true,
              filters: true,
              dropdownMenu: true,
              afterChange: function (change, source) {
                  if (source === 'loadData') {
                    return; //don't save this change
                  }
                  console.log('yeaaah');

                  $.ajax({
                    url: "/data/",
                    dataType: "json",
                    contentType: 'application/json;charset=UTF-8',
                    type: "POST",
                    data: JSON.stringify({"change":change ,"product":countrySelector.value}), //contains changed cells' data
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }

                  });


                  setBubblePlot(countrySelector.value);
                }
            };
            var hot = new Handsontable(hotElement, hotSettings);
        };
        // Mise à jour lors de l amise à jour du dropdown
        function updateCountry(){
            setBubblePlot(countrySelector.value);
            setTablePlot(countrySelector.value);

        }


        <!-- ici dropdownselector -->
        countrySelector.addEventListener('change', updateCountry, false);


      var csrf_token = "{{ csrf_token() }}";

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
          }
      });








        </script>
        <!-- editable style -->
        <style>
         .table-content {
                width: 450px;
                margin: 50px auto;
                text-align: center;
         }

            td {
                width: 100px;
            }
        </style>

  </body>
</html>

