.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: top;
		padding: 0 2em;

}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:white;
      background: rgba(102,177,241,0.8);
			transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: relative;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
	.et-hero-tabs,
	.et-slide {
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
	}
	.et-hero-tab {
		font-size: 1rem;
	}
}



.hey1{
       background:url("https://arbordayblog.org/wp-content/uploads/2015/12/tree-roots.jpg");
       background-size: auto;       /* For flexibility */
       }

.hey2{
       background:url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?cs=srgb&dl=bricks-brickwall-brickwork-1092364.jpg&fm=jpg");
       background-size: auto;       /* For flexibility */
       }


.hey3{
       background:url("https://dollarfootage.com/wp-content/uploads/2017/05/tetrahedron-particle-field-background-animation-white-1-img.jpg");
       background-size: auto;       /* For flexibility */
       }

.hey4{
       background:url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?cs=srgb&dl=bricks-brickwall-brickwork-1092364.jpg&fm=jpg");
       background-size: auto;
    /* For flexibility */
       }

html, body {

}

